---
import PricingTableEntry from "./PricingTableEntry.astro";
---

<PricingTableEntry
    name="Free"
    desc="A limited plan for simple, static online memorials."
    price="0"
    nMemorials="1"
>
    <ul>
        <li><i class="fas fa-calendar mr-2"></i>Special date reminders</li>
        <li>
            <i class="fas fa-hands-praying mr-2"></i>Set cultural preferences
        </li>
    </ul>
</PricingTableEntry>
