@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
    --color-pp-primary: #213359;
    --color-pp-light: #fffcf6;
    --color-pp-dark: #0e1014;
}

html {
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
}

.blueLink {
    color: blue;
    text-decoration: underline;
}

.blogPost a {
    color: blue;
    text-decoration: underline;
}

.blogPost li {
    margin: 10px 2em;
    list-style-type: circle;
}

.blogPost h1 {
    font-weight: bold;
}

.blogPost h2 {
    font-weight: bold;
}

.blogPost h3 {
    font-weight: bold;
}

.cta {
    border-radius: var(--radius-md);
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);

    transition-property:
        color, background-color, border-color, outline-color,
        text-decoration-color, fill, stroke, --tw-gradient-from,
        --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(
        --default-transition-timing-function
    ); /* cubic-bezier(0.4, 0, 0.2, 1) */
    transition-duration: var(--default-transition-duration); /* 150ms */
}

.primary {
    background-color: var(--color-pp-primary);
    color: var(--color-pp-light);
}

.secondary {
    border: 1px solid var(--color-pp-primary);
    color: var(--color-pp-primary);
}
