---
import DefaultPageLayout from "../../layouts/DefaultPageLayout.astro";
---

<DefaultPageLayout
    title="Tributes"
    description="On-demand virtual blessings and prayers for your memorials. Pay respects to your loved ones anytime, anywhere."
>
    <h1 class="text-2xl font-semibold">Memorial Tributes</h1>

    <p>Inspired by asdf</p>
    <p>Inspired by asdf</p>
</DefaultPageLayout>
