---
import MasterLayout from "../layouts/MasterLayout.astro";
import Incense from "../components/Incense.astro";
import FeatureCard from "../components/FeatureCard.astro";
---

<MasterLayout title="Petapetual">
    <section class="flex flex-col gap-4 p-4 lg:grid lg:grid-cols-2 lg:m-16">
        <h1 class="text-3xl font-bold col-start-1">
            Digital memorials that bring tradition into the modern world
        </h1>

        <h2 class="text-xl col-start-1">
            Use our virtualized memorial services to honour and pay respects to
            your late loved ones anytime, anywhere.
        </h2>

        <div class="lg:grid lg:grid-cols-2 gap-2 flex flex-col col-start-1">
            <a href="/how-it-works" class="p-2 border rounded text-center"
                ><i class="fas fa-lightbulb"></i> How it works
            </a>

            <a
                target="_blank"
                href=""
                class="p-2 text-center bg-stone-800 text-stone-200 rounded"
                >Join the waitlist <i class="fas fa-arrow-right"></i></a
            >
        </div>
    </section>

    <section class="mx-4 mt-4 lg:mx-16 lg:mt-16 flex flex-row gap-8">
        <Incense />

        <div class="flex flex-col gap-8 grow min-h-screen my-16">
            <FeatureCard
                iconCode="fas fa-bolt text-yellow-500"
                title="Tangible"
            >
                We are more than a simple page hosting site- our prayer and
                tribute services are backed by very real actions and digital
                counterparts. <br />
                <br />
                Want to know more? Read up on <a
                    href="/how-it-works"
                    class="underline text-blue-600">how it works</a
                >.
            </FeatureCard>

            <FeatureCard
                iconCode="fas fa-hand-holding-heart text-red-600"
                title="Multicultural"
            >
                A platform for everyone. We aim to support memorials from as
                many cultural and religious backgrounds as we can.
            </FeatureCard>

            <FeatureCard
                iconCode="fas fa-users text-indigo-500"
                title="Shareable"
            >
                Invite friends and family to view and interact with your
                memorials, no matter where they are in the world. <br />
                <br />
                Alternatively, make your memorial open to the public for viewing.
            </FeatureCard>
        </div>
    </section>
</MasterLayout>
