---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
---

<DefaultPageLayout
    title="Roadmap"
    description="Development roadmap for Petapetual."
>
    <div class="flex flex-col gap-8">hi</div>
</DefaultPageLayout>
