---
import { Image } from "astro:assets";
import PetapetualLogo from "../assets/img/petapetual-logo-text-h.svg";
import DTOSLogo from "../assets/img/dtos-logo-h.png";
---

<footer class="flex flex-col gap-8 bg-stone-800 text-stone-50 p-8">
    <div class="flex flex-col gap-8 lg:grid lg:grid-cols-5 lg:gap-4">
        <div class="flex flex-col gap-2 lg:order-5">
            <b>Resources</b>
            <ul class="text-sm flex flex-col gap-2">
                <li><a href="/examples">All examples</a></li>
                <li><a href="/examples/pets">For pets</a></li>
                <li><a href="/examples/friends">For friends</a></li>
                <li><a href="/examples/relatives">For relatives</a></li>
                <li><a href="/examples/religious">To the religious</a></li>
                <li>
                    <a href="/examples/living-abroad"
                        >To those who live far away</a>
                </li>
                <li>
                    <a href="/examples/learn-culture"
                        >To those who want to learn their culture</a
                    >
                </li>
            </ul>
        </div>

        <div class="flex flex-col gap-2 lg:order-4">
            <b>Services</b>
            <ul class="text-sm flex flex-col gap-2">
                <li><a href="/how-it-works/tributes">Memorial Tributes</a></li>
                <li>
                    <a href="/how-it-works/prayer-streams">Prayer Streams</a>
                </li>
            </ul>
        </div>

        <div class="flex flex-col gap-2 lg:order-3">
            <b>Useful Links</b>
            <ul class="text-sm flex flex-col gap-2">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/how-it-works">How it works</a></li>
                <li><a href="/examples">Who is this for?</a></li>
            </ul>
        </div>

        <div class="hidden lg:flex lg:order-2"></div>

        <div
            class="flex flex-col gap-2 text-xs justify-start items-start lg:order-1"
        >
            <Image
                src={PetapetualLogo}
                alt="Petapetual Logo"
                class="h-8 w-auto invert"
            />
            <Image src={DTOSLogo} alt="DTOS Logo" class="h-8 w-auto invert" />
            DTOS Pte Ltd. is a company registered in Singapore with the UEN 202541895C.
        </div>
    </div>

    <hr class="border border-stone-600" />

    <div
        class="flex flex-col lg:flex-row lg:justify-between text-sm text-center"
    >
        <div class="text-center">Made with love &hearts;</div>
        <div class="text-center">
            &COPY; 2025 DTOS Pte Ltd. All Rights Reserved
        </div>

        <div class="flex flex-row justify-around gap-4">
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-and-conditions">Terms & Conditions</a>
        </div>
    </div>
</footer>
