---
const { iconCode, title } = Astro.props;
---

<div class="flex flex-row gap-4 items-start">
    <div
        class="w-16 h-16 rounded-full bg-stone-200 flex items-center justify-center text-2xl shrink-0"
    >
        <i class={iconCode}></i>
    </div>

    <div class="flex flex-col gap-1">
        <b class="font-semibold">{title}</b>
        <slot />
    </div>
</div>
