---
import { Image } from "astro:assets";
import PetapetualLogo from "../assets/img/petapetual-logo-text-h.svg";
import DTOSLogo from "../assets/img/dtos-logo-h.png";
---

<nav
    id="navbar"
    class="flex flex-col lg:flex-row lg:gap-16 bg-stone-100/75 backdrop-blur rounded-xl p-4 lg:sticky lg:top-4 lg:mx-4 lg:mb-4 transition-all ease-in-out duration-500"
>
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row gap-1 items-center">
            <a href="/"
                ><Image
                    class="h-8 w-auto"
                    src={PetapetualLogo}
                    alt="Petapetual Logo"
                /></a
            >
            <p class="text-xs">by</p>
            <a href="https://www.dtos.io/" target="_blank"
                ><Image
                    class="h-6 w-auto"
                    src={DTOSLogo}
                    alt="DTOS Logo"
                    inferSize
                /></a
            >
        </div>

        <button
            id="expandNavButton"
            class="flex lg:hidden items-center border border-stone-400 text-stone-400 w-8 h-8 rounded justify-around"
            ><i class="fas fa-bars"></i></button
        >
    </div>

    <div
        id="navLinkContainer"
        class="hidden flex-col gap-4 mt-4 lg:divide-y-0 lg:mt-0 lg:flex lg:flex-row lg:gap-6 lg:flex-grow lg:items-center"
    >
        <a class="hover:underline" href="/blog">Blog</a>
        <a class="hover:underline" href="/pricing">Pricing</a>
        <a class="hover:underline" href="/how-it-works">How it works</a>
        <a class="hover:underline" href="/examples">Who is this for?</a>

        <div class="hidden lg:flex grow"></div>

        <!-- <a
            target="_blank"
            href="https://app.petapetual.com/signin"
            class="border-2 border-stone-800 rounded-full px-4 py-2 hover:bg-stone-200"
            >Login</a
        >

        <a
            target="_blank"
            href="https://app.petapetual.com/signup"
            class="bg-stone-800 text-stone-200 rounded-full px-4 py-2 hover:bg-stone-600"
            >Sign up free <i class="fas fa-arrow-right"></i></a
        > -->

        <a
            target="_blank"
            href=""
            class="bg-stone-800 text-stone-200 rounded px-4 py-2 hover:bg-stone-600"
            >Join the waitlist <i class="fas fa-arrow-right"></i></a
        >
    </div>
</nav>

<script>
    const navbar = document.getElementById("navbar");
    window.addEventListener("scroll", () => {
        if (window.scrollY > 10) {
            navbar?.classList.remove("lg:bg-stone-100/75");
            navbar?.classList.add("lg:shadow-xl", "lg:bg-stone-200/75");
        } else {
            navbar?.classList.remove("lg:bg-stone-200/75");
            navbar?.classList.remove("lg:shadow-xl", "lg:bg-stone-200/75");
        }
    });

    const expandNavButton = document.getElementById("expandNavButton");
    const navLinkContainer = document.getElementById("navLinkContainer");
    expandNavButton?.addEventListener("click", () => {
        if (navLinkContainer?.classList.contains("hidden")) {
            navLinkContainer?.classList.remove("hidden");
            navLinkContainer?.classList.add("flex");
        } else {
            navLinkContainer?.classList.add("hidden");
            navLinkContainer?.classList.remove("flex");
        }
    });
</script>
