---
import DefaultPageLayout from "../../layouts/DefaultPageLayout.astro";
import Petapetual from "../../components/Petapetual.astro";
---

<DefaultPageLayout
    title="For Forgotten Culture"
    description="In the modern world, many traditional rites and practices are starting to be forgotten. If you are unsure as to what traditions you can observe to honor the dearly deceased, Petapetual has got you covered."
>
    <h1 class="text-2xl font-semibold">
        <Petapetual /> for those disconnected from their culture
    </h1>

    <p>
        As the world becomes more and more modern, many traditional rites and
        practices are slowly being forgotten. If you are someone who wants to
        honor the dearly departed in line with tradition, it can be confusing
        and difficult to know what to do, what prayers to say, and what
        offerings to give (if at all).
    </p>

    <p>
        <Petapetual /> aims to assist you in this aspect. We believe that, <a
            href="/how-it-works"
            class="underline text-blue-600">amongst other services we provide</a
        >, an online memorial with us is also an opportunity for education. We
        aim to provide you with information, services, and useful reminders that
        are aligned with the traditions you want to observe.
    </p>

    <h2 class="text-xl font-semibold">Memorial cultural preferences</h2>

    <p>
        By default, all <Petapetual />
        <a class="underline text-blue-600" href="/how-it-works/online-memorials"
            >memorials</a
        > are culturally and religiously agnostic: we do not make any assumptions
        or opinionated choices as to what and how things should be done. However,
        if you so choose to, you can set a <i>cultural preference</i> for your memorial,
        which will tell us which traditions you want your memorial to subscribe to.
    </p>

    <p>
        For example, if you set a memorial's cultural preference to <i
            >Buddhist</i
        >, then we will suggest and bias your memorial towards more Buddhist <a
            class="underline text-blue-600"
            href="/how-it-works/tributes">tributes</a
        > and <a
            class="underline text-blue-600"
            href="/how-it-works/prayer-streams">prayer streams</a
        >.
    </p>

    <p>
        Setting your memorial's cultural preference does not lock you in to any
        one tradition. It only affects service suggestions and special date
        reminders. You can change this setting at any time.
    </p>

    <h2 class="text-xl font-semibold">Special date reminders</h2>

    <p>
        Your memorials have the ability to send you reminders or information
        about special dates, these include dates such as death anniversaries,
        birthdays, religious festivals, etc.
    </p>
</DefaultPageLayout>
