---
import DefaultPageLayout from "../../layouts/DefaultPageLayout.astro";
import Petapetual from "../../components/Petapetual.astro";
import { Image } from "astro:assets";
---

<DefaultPageLayout
    title="For Living Abroad"
    description="Just because you aren't in the same country as your loved one's final resting place doesn't mean you have to miss out on paying your respects. Access your Petapetual memorial no matter where you are in the world."
>
    <Image
        src="https://images.unsplash.com/photo-1548227725-0141254f3369?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070"
        alt="Distance makes loss hurt hard and paying respects harder. Petapetual's online memorials aim to help those who live abroad feel more connected to their lost ones."
        class="w-full h-48 lg:h-64 object-cover self-center rounded"
        width="256"
        height="256"
    />

    <h1 class="text-2xl font-semibold">
        <Petapetual /> for those living overseas
    </h1>

    <p>
        Are you living far away from your loved one's final resting place?
        Perhaps you are studying or working abroad and now find yourself
        separated from your hometown and family? In such cases, it is hard to
        show up and pay respects at a physical cemetery, temple, or columbarium.
    </p>

    <p>
        <Petapetual /> aims to try and mitigate the feeling of disconnection and
        distance in the remembrance process: whilst there is nothing that can replace
        showing up in person, we try to make it as convenient as possible for you
        to pay your respects from hundreds to thousands of miles away.
    </p>

    <h2 class="text-xl font-semibold">Always in reach</h2>

    <p>
        Once set up, a <Petapetual /> memorial is always accessible to you, no matter
        where in the world you are. Across mobile, tablet, and desktop: no app installations
        are required. Simply sign in whenever you want to, or whenever you miss the
        dearly departed and visit their <a
            href="/how-it-works/online-memorials"
            class="blueLink">virtual memorial</a
        >.
    </p>

    <h2 class="text-xl font-semibold">Invite others to your memorial</h2>

    <p>
        You don't have to pay your respects alone: invite other people to your
        memorials so you can all remember your late loved ones together: write
        loving messages in the guestbook, place <a
            href="/how-it-works/tributes"
            class="blueLink">tributes</a
        >, and reminisce with one another across oceans and time zones.
    </p>
</DefaultPageLayout>
