---
import DefaultPageLayout from "../../layouts/DefaultPageLayout.astro";
import Petapetual from "../../components/Petapetual.astro";
import { Image } from "astro:assets";
---

<DefaultPageLayout
    title="For Busy People"
    description="Today's world demands a lot of your time and attention, but why should you have to compromise on paying respects to your late loved ones? Petapetual was created to make rememberance more convenient in the modern age."
>
    <Image
        src="https://images.unsplash.com/photo-1620809975674-10b8ff5f8e58?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070"
        alt="Life can get busy and hectic, and this can mean it becomes difficult to take a moment to pay respects or remember those that have passed on. Petapetual is a convenient online solution to help with this. Access your memorials anytime, anywhere."
        class="w-full h-48 lg:h-64 object-cover self-center rounded"
        width="256"
        height="256"
    />

    <h1 class="text-2xl font-semibold"><Petapetual /> for the busy</h1>

    <p>
        Today's world is one that constantly demands your attention. From
        studies, to work, to social commitments; it can be very hard to strike
        the balance between building and living your own life, and making the
        time to remember those who have passed on. Whilst <i
            >nothing beats showing up and paying respects in person</i
        >, we built <Petapetual /> to try and make rememberance a little bit easier
        in the modern age.
    </p>

    <h2 class="text-xl font-semibold">Always available when you need it</h2>

    <p>
        When you create a <a
            class="blueLink"
            href="/how-it-works/online-memorials">memorial</a
        > for your late loved one on <Petapetual />, we take care of everything
        for you so that you can focus on what's important. Your memorial will be
        accessible online 24/7 from anywhere, and any device. No app
        installation needed, just sign in and pay your respects.
    </p>

    <h2 class="text-xl font-semibold">Virtual prayers when you are away</h2>

    <p>
        All memorials on paid plans come with a 24/7 <a
            class="blueLink"
            href="/how-it-works/prayer-streams">virtualized prayer</a
        > service. Rest easy knowing that even when you are going about your busy
        day, your online memorial is receiving your prayers and blessings.
    </p>
</DefaultPageLayout>
