---
import DefaultPageLayout from "../../layouts/DefaultPageLayout.astro";
import Petapetual from "../../components/Petapetual.astro";
---

<DefaultPageLayout
    title="For Busy People"
    description="Today's world demands a lot of your time and attention, but why should you have to compromise on paying respects to your late loved ones? Petapetual was created to make rememberance more convenient in the modern age."
>
    <h1 class="text-2xl font-semibold"><Petapetual /> for the busy</h1>

    <p>
        Today's world is one that constantly demands your attention. From
        studies, to work, to social commitments; it can be very hard to strike
        the balance between building and living your own life, and making the
        time to remember those that have passed on. Whilst <i
            >nothing beats showing up and paying respects in person</i
        >, we built <Petapetual /> to try and make remeberance a little bit easier
        in the modern age.
    </p>

    <h2 class="text-xl font-semibold">Always available when you need it</h2>

    <p>
        When you create a <a
            class="underline text-blue-600"
            href="/how-it-works/online-memorials">memorial</a
        > for your late loved one on <Petapetual />, we take care of everything
        for you so that you can focus on what's important. Your memorial will be
        accessible online 24/7 from anywhere, and any device. No app
        installation needed, just sign in and pay your respects.
    </p>

    <h2 class="text-xl font-semibold">Virtual prayers when you are away</h2>

    <p>
        All memorials on paid plans come with a 24/7 <a
            class="underline text-blue-600"
            href="/how-it-works/prayer-streams">virtualized prayer</a
        > service. Rest easy knowing that even when you are going about your busy
        day, your online memorial is receiving your prayers and blessings.
    </p>
</DefaultPageLayout>
