---
import MasterLayout from "./MasterLayout.astro";
const { title } = Astro.props;

const pageTitle = `${title ? title + " - " : ""}Petapetual`;
---

<MasterLayout title={pageTitle}>
    <section class="flex flex-col gap-4 m-4 lg:mx-32 lg:my-16">
        <slot />
    </section>
</MasterLayout>
