---
import MasterLayout from "./MasterLayout.astro";
const { title } = Astro.props;
---

<MasterLayout title={title}>
    <section class="flex flex-col gap-4 m-4">
        <slot />
    </section>
</MasterLayout>
