---
import BaseHead from "../components/BaseHead.astro";
import StickyNav from "../components/StickyNav.astro";
// import Footer from '../components/Footer.astro';

import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en" class="text-stone-800 bg-stone-50">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <BaseHead title={title} />
    </head>

    <body>
        <StickyNav />

        <slot />
        <!-- <Footer /> -->
    </body>
</html>
