---
import BaseHead from "../components/BaseHead.astro";
import StickyNav from "../components/StickyNav.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" class="text-stone-800 bg-stone-100 font-light">
    <head>
        <!-- Schema to map Petapetual as a name for the URL Petapetual -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Petapetual",
                "url": "https://petapetual.com/"
            }
        </script>

        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-HFEKKX4VEP"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-HFEKKX4VEP");
        </script>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <link rel="canonical" />

        <!-- sitemap -->
        <link rel="sitemap" href="/sitemap-index.xml" />

        <BaseHead title={title} />
    </head>

    <body>
        <StickyNav />

        <div class="min-h-[50vh]">
            <slot />
        </div>

        <Footer />
    </body>
</html>
