---
const { noCenter, textClass } = Astro.props;
---

<th class={`p-4 border-b border-slate-300 bg-slate-50 ${textClass}`}>
    <p
        class={`block text-sm font-normal leading-none ${noCenter ? "text-left" : "text-center"}`}
    >
        <slot />
    </p>
</th>
